name: Deploy to Cloud Run

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      
      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCLOUD_SERVICE_KEY }}

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: ${{ secrets.PROJECT_ID }}
          install_components: 'beta'

      - name: Configure Docker to use gcloud
        run: gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Build and push Docker image
        run: |
          docker build -t us-central1-docker.pkg.dev/${{ secrets.PROJECT_ID }}/stateman24repo/quiz-api:$GITHUB_SHA .
          docker push us-central1-docker.pkg.dev/${{ secrets.PROJECT_ID }}/stateman24repo/quiz-api:$GITHUB_SHA

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy --service-account=${{ secrets.SERVICE_NAME }} \
            --region=${{ secrets.REGION }} \
             --image=us-central1-docker.pkg.dev/${{ secrets.PROJECT_ID }}/stateman24repo/quiz-api:$GITHUB_SHA \
            --platform=managed \
            --allow-unauthenticated

          
